asn1crypto==0.24.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.8.2
cryptography==2.3
dlib==19.20.0
enum34==1.1.6
idna==2.6
imutils==0.5.3
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
numpy==1.16.6
opencv-contrib-python==4.2.0.32
pycrypto==2.6.1
pygobject==3.26.1
pytz==2019.3
pyxdg==0.25
scikit-learn==0.20.4
scipy==1.2.3
SecretStorage==2.3.1
six==1.11.0
soupsieve==1.9.5
yahoofinancials==1.5
